:root {
    --mainFont: 'Poppins', sans-serif;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.04em;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    align-items: center;
    justify-content: center;
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}