.services{
    overflow: hidden;
    z-index: 0;
    text-align: center;
    background-color: #fefefe;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.title{
    margin-top: 0px;
}

.main-card{
    width: 360px;
    height: 220px;
    position: relative;
    border-radius: 10px;
    margin: 10px auto;
}

.front-card img{
    width: 360px;
    height: 220px;
    border-radius: 10px;
}

.card{
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    border-radius: 10px;
}

.front-card{
    position: absolute;
    backface-visibility: hidden;
    color: white;
    border-radius: 10px;
}

.card:hover{
    transform: rotateY(180deg);
}

.back-card{
    position: absolute;
    backface-visibility: hidden;
    background: #bb0302;
    width: 360px;
    height: 220px;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    text-align: center;
}

.front-card h4{
    position: absolute;
    left: 20px;
    bottom: 0px;
}

.back-card  h3{
    margin-top: 10px;
}

.back-card p{
    font-size: 14px;
    width: 240px;
    margin: 20px auto;
}

@media (min-width: 1200px) {
    .main-card{
        width: 580px;
        height: 360px;
    } 

    .front-card img{
        width: 580px;
        height: 360px;
        border-radius: 10px;
    }

    .back-card{
        width: 580px;
        height: 360px;
    }


}